.viagem_mainDiv{
    border:1px solid black;

}
.viagem_mainDiv img{
    width:100%;
}
.viagem_mainDiv p,.viagem_mainDiv h5{
    margin:20px;
}
#contact iframe
{
    width: 100%;
}
.filmeshead{
    font-size: 20px;
    padding:6px 22px ;
    border-radius:10px; 
    margin-bottom:15px ;
}

.filmeshead i{
    float:right;

}
.filmestext span{
    color:orange
}
.livros{
    margin-bottom: 20px;
}
#contato iframe{
    width:100%;
}